<%- include('partials/header') -%>

<body>
    <h1>Home</h1>
    <p><%= homeContent %></p>

    <div class="blogList">
        <%listBlog.forEach(blog => {%>
        <div class="blog">
            <% const url = "/post/" + blog.title;%>
            <h2><%=blog.title%></h2>
            <p><%= blog.content %> <a href=<%= url%> target= "_blank">Read more</a></p>
        </div>
        <%})%>
    </div>

</body>

<%- include('partials/footer') -%>